body {
    background-color: white;
}

a {
    color: inherit;
}

/* Верхнее навигационное меню сайта */

.head {
    display: flex;
    width: 100%;
    background-color: #313131;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.right-head{
    background-color: black;
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
}

.left-head {
    display: flex;
    align-items: center;
}

.left-head a {
    padding-left: 25px;
}

.ul-head {
    margin-left: -100px;
    display: flex;
   
}

.li-head {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 15px;
    color: white;
}

.architect {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

:hover.nav-hover{
    color: #14B9D5;
}

:hover.nav-logo-hover{
    opacity: 0.6;
}

.search{
    padding-left: 5px;
}

/* Header */

.header {
    background-image: url("../img/bg/head-bg.jpeg");
    background-position: center;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1170px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.header-text {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding: 180px 0 45px 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;
}

.buttons div{
    padding: 0px 10px 75px 10px;
}

.button {
    padding: 16px 19px;
    border-radius: 5px;
    width: 170px;
}

.subscribe-now {
    background-color: #89CA62;
}

:hover.subscribe-now {
    background-color:#62ca67;
}

.best-articles {
    background-color: #14B9D5;
}

:hover.best-articles { 
    background-color: #119fb8;
}

/* Main */

.title {
    text-align: center;
    color: #18B4CF;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    padding: 40px 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.posts-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.posts-container img {
    width: 250px;
}

.posts-column {
    display: flex;
    flex-direction: column ;
}

.posts-content {
    margin-bottom: 20px;
}

.posts-text {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    font-family: Open Sans;
}

.posts-column-middle {
    padding: 0 30px;
}

.Our-clients {
    background-image: url("../img/bg/main.jpeg");
    background-position: center;
}

.main-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 100px;
}

.stick {
    padding-top: 85px;
    padding-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.labels {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 0 0 150px 120px;
}

.top-rated {	
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.hot-news-container {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(6, 300px) ;
    margin-top: -20px;
}

.base-content {
    display: grid;
    margin: 20px;
    background-color: #e0e0e0;;
}

.core-content {
    text-align: end;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    grid-column: span 3;
    grid-auto-flow: column;
}

.hot-news-text {
    text-align: end;
    padding: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.hot-news-title {
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.main-content {
    grid-column: span 2;
    grid-row: span 2;
    grid-template-rows: 60% 40%;
}

.hot-news-main-title {
    text-align: end;
    padding-bottom: 10px;
}

.hot-news-img {
    width: 100%;
    object-fit: fill;
    height: 60%;
}

/* Footer */

footer {
    background-color: black;
    padding:30px 0px 25px 0px;
    margin-top: 50px;
}

.footer-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-align: left;
    color: white;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.footer-image {
    text-align: end;
}